* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.site-header {
    background-color: #F2F2F2;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 41px;
    padding-bottom: 41px;
}



.logo-link {
    margin-right: 175px;
}

.header-list {
    display: flex;
    justify-content: space-between;
    width: 626px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-link {
    padding-bottom: 13px;
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    color: #373737;
    border: 2px solid transparent;
}

.header-link:hover {
    border-bottom-color: #717CFF;
    transition: 0.2s all ease-in;
    border-radius: 2px;
}

.apply {
    padding: 13px 33px;
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    color: #373737;
    border: 2px solid #717CFF;
    border-radius: 11px;
}

.hero {
    padding-top: 76px;
    background-color: #F2F2F2;
    background-image: url(../images/backimg.png);
    background-position: calc(50% + 652px) calc(50% + 138px);
    background-repeat: no-repeat;
    background-size: contain;
}



.hero-box {
    display: flex;
    justify-content: space-between;
}

.hero-top {
    width: 632px;
}

.hero-heading {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 56px;
    line-height: 66px;
    color: #2F2F2F;
}

.hero-text {
    margin-bottom: 42px;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
}

.hero-link {
    display: flex;
    justify-content: space-around;
    width: 262px;
    margin-bottom: 104px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 34px;
    font-size: 22px;
    line-height: 40px;
    color: #FFFFFF;
    background: #717CFF;
    border-radius: 11px;
    text-decoration: none;
}


.hero-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
}

.hero-item {
    list-style: none;
}

.twitter {
    margin: 0 25px;
}


.university {
    padding-top: 55px;
    padding-bottom: 59px;
    background-color: #FAFAFA;
}

.univer-heading {
    margin-bottom: 86px;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    color: #373737;
    opacity: 0.73;
}

.univer-list {
    display: flex;
    align-content: ;
    justify-content: space-between;
    width: 1196px;
    margin: 0 auto 106px;
    padding: 0;

}

.univer-item {
    list-style: none;
}

/* service */

.service {
    padding-top: 122px;
    padding-bottom: 126px;
    background-color: #F2F2F2;
}


.service-list {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0 auto;
}

.service-item {
    margin-right: 47px;
    margin-bottom: 50px;
    padding: 29px 17px 34px 31px;
    width: 344px;
    background: #FFFFFF;
    box-shadow: 0px 0px 77px #0000000f;
    border-radius: 15px;
}

.service-left-item {
    margin-right: 0;
}

.service-bottom-item {
    margin-bottom: 0;
}

.service-item-box {
    width: 296px;
}

.service-img {
    margin-bottom: 30px;
}

.service-item-heading {
    margin: 0;
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
}

.service-item-text {
    margin: 0;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: #37474fb8;
}

.service-learn-box {
    display: flex;
}

.service-learn-link {
    margin-right: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
}

/* Section news */

.news {
    padding-top: 102px;
    padding-bottom: 124px;
    background-color: #FAFAFA;
}

.news-list {
    display: flex;
    margin-bottom: 148px;
    padding: 0;
    justify-content: space-between;
}

.news-item {
    width: 344px;
    list-style: none;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 42px #0000001b;
    border-radius: 10px;
}

.news-img {
    margin-bottom: 28px;
}

.news-box {
    padding: 0 26px 62px 27px;
}


.news-box-top {
    display: flex;
    margin-bottom: 17px;
}

.news-box-img {
    margin-right: 15px;
}

.news-text {
    margin: 0;
    font-weight: 900;
    line-height: 19px;
    color: #565656;
}

.news-box-heading {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #252525;
}

.join {
    margin: 0 auto;
    width: 226px;
}

/* Section event */

.event {
    padding-top: 98px;
    padding-bottom: 110px;
}

.title-box-desc {
    width: 949px;
    margin: 0 auto;
}

.title-heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.4625px;
    color: #373737;
}

.title-text {
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 21px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
}

.event-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 81px;
}

.event-list-item {
    width: 540px;
    padding-top: 29px;
    padding-right: 28px;
    padding-bottom: 31px;
    padding-left: 31px;
    list-style: none;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 77px #0000000f;
    border-radius: 15px;
}


.date-heading {
    display: flex;
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;

}

.date-main-heading {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
}


.month {
    width: 76px;
    margin-right: 19px;
    padding-top: 10px;
    padding-right: 22px;
    padding-bottom: 13px;
    padding-left: 22px;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #717CFF;
    background-color: #ECEDFF;
    border-radius: 11px;
}

.day {
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;

    color: #717CFF;
}

.month-text {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #717CFF
}

.event-item-text {
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: #37474fb8;
}

.learn-box {
    display: flex;
    align-items: center;
}

.learn-link {
    margin-right: 20px;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.439286px;
    color: #717CFF;
}

.time-text-box {
    display: flex;
}

.time-text {
    font-weight: 900;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: #373737;
}



.list-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}



/* circles */

.event-circle {
    display: flex;
    width: 83px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.big-circle {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #717CFF;
}

.small-circle {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #7c7c7c51;
}


/* Countries */

.country {
    padding-top: 82px;
    padding-bottom: 138px;
    background-color: #FAFAFA;
}

.country-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 89px;
    padding: 0;
}

.country-item {
    list-style: none;
    width: 348px;
}

.country-img {
    margin-bottom: 27px;
}

.country-heading {
    margin: 0;
}

.country-heading {
    margin-bottom: 11px;
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #37474F;
}

.country-text {
    line-height: 27px;
    color: #37474fb8;
}

/* Testimonials */

.testimonials {
    padding-top: 115px;
    padding-bottom: 100px;
}

.test-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 132px;
    padding: 0;
}

.test-item {
    width: 435px;
    list-style: none;
}

.test-top {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.test-main-img {
    margin-right: 28px;
}

.test-list-box {}

.test-heading {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #37474F;
}

.test-box-text {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    color: #37474F;
    mix-blend-mode: normal;
    opacity: 0.65;
}

.test-desc {
    font-size: 18px;
    line-height: 31px;
    color: #37474fb8;
}

/* Dream */

.dreams {
    padding-top: 92px;
    padding-bottom: 85px;
    background-color: #FAFAFA;
}

.dream-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dream-heading {
    margin: 0;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #252525
}

.dream-link {
    margin-bottom: 0;
}

/* Footer */

.footer-bottom {
    padding-top: 64px;
    padding-bottom: 25px;
    background-color: #717CFF;
}

.footer-box {
    display: flex;
    justify-content: space-between;
}

.location {
    width: 343px;
}

.white-logo {
    margin-bottom: 26px;
}

.location-text {
    margin: 0;
    margin-bottom: 58px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #EEEEEE;
}

.year {
    margin-bottom: 0;
    font-weight: 700;
}

.footer-list-box {
    display: flex;

}

.footer-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list-top {
    margin-right: 106px;
}


.footer-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 49px;
    color: #EEEEEE;
}

.footer-icon-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.footer-icon-item {
    margin-right: 28px;
}

.social-box {
    align-self: flex-end;
    margin-bottom: 55px;
}